.header-container{
    display: flex; 
    /* элемент становится гибким контейнером, а его дочерние элементы становятся элементами flex. */
    height: 50px;
    padding: var(--spacing-small);
    background-color: var( --color-medium);
    
}

.header-counter{
    margin-left: auto; 
    /* т.к. мы используем в контэйнере  display: flex , чтобы передвинуть корзину к правому краю мы можем использовать  margin-left: auto;  */
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}