:root {
    --color-light: #f8f9fa;
    --color-white: #fff;
    --color-unaccent : #808080;
    --color-medium : #e8e8e8 ;
    --color-dark: #a1a1a1;


    --spacing-small : 10px;
    --spacing-medium : 15px ;
    --spacing-large : 30px;
    --border-radius : 3px;

    --linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
	--box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
/* CSS переменные (пользовательские CSS-свойства) это сущности, определяемые автором CSS, хранящие конкретные значения, которые можно повторно использовать в документе. Они устанавливаются с использованием custom property нотации (например. --main-color: black;) и доступны через функцию var() (например. color: var(--main-color);) . */

::-webkit-scrollbar{
    width: 8px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-dark) ;
}

::-webkit-scrollbar-track{
    background-color: var(--color-white );
}

* { 
    /* * и {}  показывают то , что мы обращаемся ко всем элементам  */
    box-sizing: border-box;
    /* Свойство box-sizing CSS задает способ вычисления общей ширины и высоты элемента. */
    /* order box – это свойство CSS, которое изменяет стандартный бокс-модель и позволяет задавать размеры элемента так, чтобы они включали границу и отступы, независимо от их значений. */
}

body{
    margin: o;
    /* задает область полей со всех четырех сторон элемента. */
    padding: 0;
    /* Свойство padding CSS shorthand устанавливает область заполнения сразу на всех четырех сторонах элемента. */
    font-family: sans-serif;
    /* Свойство font-family CSS определяет приоритетный список из одного или нескольких названий семейств шрифтов и / или общих названий семейств для выбранного элемента. */
    line-height: 1.7;
    /* Свойство CSS line-height устанавливает величину пространства между строками, например в тексте.  */
    background-color: var(--color-light);
}